* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "El Messiri", sans-serif;
}

header {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(86, 9, 121, 0.8267682072829132) 62%,
    rgba(0, 212, 255, 1) 100%
  );
}

.btn {
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(173,201,189,0.7665441176470589) 100%);
  max-width: 50%;
}
#title {
  text-shadow: 2px 2px #ccffcc;
}

#day-list,
.outlookList {
  list-style: none;
}

.green {
  background-color: green;
  color: white;
  padding: 3px;
}

.orange {
  background-color: orange;
  color: white;
  padding: 3px;
}

.red {
  background-color: red;
  color: white;
  padding: 3px;
}

p {
  font-weight: bold;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(176,40,175,0.7665441176470589) 100%);
  color: white;
  text-align: center;
}

.hide {
  display: none;
}

